h1,
h2,
h3 {
    text-align: center;
}

body {
    background-color: lightgray;
}

ul,
ol {
    background-color: lightsteelblue;
}

li {
    padding: 8px;
}

.food {
    display: block;
    margin: auto;
}